@import "../base/variables";
@import "../base/mixins";

.adv-navbar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    @include flex (flex, wrap, center, space-between);
    img {
        height: 25px;
        width: 75px;
    }
    a {
        text-decoration: none;
        font-size: 14px;
        margin: 10px;
        &:hover {
        text-decoration: underline;
        }
    }
}
.adv-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    #h1-cont {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        h1 {
            color: #f28b82;
            font-size: 20px;
            font-weight: normal;
            margin: 15px 50px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px;
        align-items: start;
        width: 80%;
        div {
            @include flex (flex, wrap, center, left);
            margin: 0px 5px 0px 20px;
            width: 100%;
            &:last-child {
                width: 68%;
                justify-content: right;
            }
            span {
                font-size: 16px;
                color: $second-color;
                margin: 15px 0px;
            };
            label, #empty-div {
                min-width: 167px;
                width: 16%;
                color: #969ba1;
                font-size: 13px;
                margin: 15px 10px 15px 0px;
            }
            input {
                width: 50%;
                background: $first-color;
                border: 1px solid #5f6368;
                color: #bdc1c6;
                font-size: 13px;
                height: 30px;
                padding: 1px 8px;
            }
        }
        #adv-btn {
            background: #8ab4f8;
            border-color: #8ab4f8;
            border-radius: 5px;
            color: $first-color;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            padding: 10px;
            width: 150px;
            min-width: 54px;
            margin: 10px;
            &:hover {
                background-color: #aecbfa;
                border: 1px solid #3079ed;
            }
        }
    }
}
